.manage-events-body{
    display:flex;
    flex-wrap: nowrap;
    gap:20px;
    overflow-x: auto;

}

.manage-events-container{
    padding : 10px;
}

.manage-events-body div{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
}

.manage-events-body button{
    margin-right: 10px;
}

.manage-events-body button:last-child{
    margin-right: 0px;
}